<h3 class="text-center pt-2">Admin Dashboard</h3>
<div class="container pt-3">
    <div class="col-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="text-center">
                    <th>Id</th>
                    <th>UserName</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let admin of adminList" class="text-center">
                    <td>{{ admin.id }}</td>
                    <td>{{ admin.username }}</td>
                    <td>{{ admin.password }}</td>
                    <td>{{ admin.role }}</td>
                    <td>
                        <button type="button" class="btn btn-success mx-2" (click)="onUpdateAdmin(admin.id)">Update</button>
                        <button type="button" class="btn btn-danger " (click)="onDeleteAdmin(admin.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


