<div class="parent">
  <div class="container">
    <div class="card">
      <h2>Login as {{ isAdmin ? 'Admin' : 'User' }}</h2>

      <div class="form-group">
        <label for="userType">Select Type:</label>
        <select class="form-control" [(ngModel)]="isAdmin">
          <option [ngValue]="false">User</option>
          <option [ngValue]="true">Admin</option>
        </select>
      </div>

      <form (ngSubmit)="onLogin()">
        <div class="form-group" *ngIf="!isAdmin">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
        </div>

        <div class="form-group" *ngIf="isAdmin">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" required>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password"
            required>
        </div>

        <button type="submit" (click)="onLogin()">Login</button>
        <button type="button" class="btn btn-link" routerLink="/app-register">
          Don't have an account? Register
        </button>
      </form>
    </div>
  </div>
</div>