<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Super Admin Navigation -->
                <ng-container *ngFor="role === 'superadmin'">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/app-admin-dashboard">Admin Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/app-dashboard">User Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/app-add-admin">Add Admins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/app-users">Add Users</a>
                    </li>
                </ng-container>

                <!-- Admin Navigation -->
                <ng-container *ngFor="role === 'admin'">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/app-dashboard">User Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/app-users">Add Users</a>
                    </li>
                </ng-container>

                <!-- User Navigation -->
                <ng-container *ngFor="role === 'user'">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/app-get-users">User Info</a>
                    </li>
                </ng-container>

                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    <ul class="footer-links" role="navigation" aria-labelledby="footer-links-heading">
        <h3 id="footer-links-heading" class="sr-only">Footer Links</h3>
        <li><a href="#">Site Home</a></li>
        <li><a href="#">Playground</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Contents</a></li>
    </ul>
    <p class="copyright">© 2025 Rajeev gupta, All rights reserved.</p>
</footer>